<!DOCTYPE html>
<html ng-app="sqlnote">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap_table/bootstrap-table.min.css" />
    <link rel="stylesheet" href="js/jqueryui/jquery-ui.min.css" />
    <link rel="stylesheet" href="js/codemirror/codemirror.css" />
    <link rel="stylesheet" href="js/toastr/toastr.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    
    <title>AgileSQL</title>
  </head>
  <body ng-controller="MainController as main" sn-layout>
    <div class="ui-layout-west">
      <div>
        <div class="form-group">
          <button class="btn btn-link" ng-click="showConfiguration = !showConfiguration">configuration</button>
        </div>
        <div ng-show="showConfiguration">
          <div class="form-group">
            <a class="btn btn-default btn-block" href="page/systemConfiguration.html">
              <span class="glyphicon glyphicon-wrench"></span>
              System Configuration
            </a>
          </div>
          
          <div class="form-group">
            <a class="btn btn-default btn-block" href="page/dataSource.html">
              <span class="glyphicon glyphicon-hdd"></span>
              DataSource
            </a>
          </div>
          
          <div class="form-group" ng-controller="SelectDataSourceController">
            <select class="form-control"
                     ng-model="main.selectedDataSourceId"
                     ng-options="ds.id as ds.name for ds in main.dataSources">
            </select>
          </div>
        </div>
        <hr>
        
        <div class="form-group" ng-controller="AddSqlController">
          <button class="btn btn-primary btn-block" ng-click="addSql()">
            <span class="glyphicon glyphicon-file"></span>
            Create SQL
          </button>
        </div>
        
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </span>
            
            <input type="text" class="form-control" ng-model="main.sqlFilter" />
            
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="main.sqlFilter = ''">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </span>
          </div>
        </div>
        
        <hr>
        
        <div class="list-group cursor" ng-controller="SqlSelectionListController">
          <a class="list-group-item" ng-repeat="sql in main.sqls | filter:{title:main.sqlFilter} | orderBy:'title'" ng-click="selectSql(sql)">
            {{sql.title}}
          </a>
        </div>
      </div>
    </div>
    
    <div class="ui-layout-center">
      <div class="input-group" ng-show="main.sql" ng-controller="SaveSqlController">
        <input type="text" class="form-control input-lg" ng-model="main.sql.title" />
        <span class="input-group-btn">
          <button class="btn btn-success btn-lg" ng-click="saveSql()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Save
          </button>
        </span>
      </div>
      
      <hr>
      
      <div class="form-group" ng-show="main.sql" ng-controller="ExecuteSqlController">
        <div class="col-xs-2 col-xs-offset-8">
          <button class="btn btn-default btn-block" ng-click="exportCsv()">
            <span class="glyphicon glyphicon-file"></span>
            CSV
          </button>
        </div>
        
        <div class="col-xs-2">
          <button class="btn btn-default btn-block" ng-click="executeSql()">
            <span class="glyphicon glyphicon-flash"></span>
            Execute
          </button>
        </div>
        
        <div class="clearfix"></div>
      </div>
      
      <div ng-controller="EditorController">
        <textarea id="editor"></textarea>
      </div>
      
      <hr>
      
      <div ng-controller="DeleteSqlController">
        <button class="btn btn-danger pull-right" ng-show="main.sql" ng-click="deleteSql()">
          <span class="glyphicon glyphicon-trash"></span>
          Delete
        </button>
      </div>
    </div>
    
    <div class="ui-layout-east" ng-controller="ParameterController">
      <div class="h4">
        Parameters
        <hr>
      </div>
      
      <div class="form-horizontal" ng-repeat="param in main.sql.parameters" ng-init="idPrefix = 'param-' + $index">
        
        <div class="form-group" ng-init="nameId = idPrefix + '-name'">
          <label for="{{nameId}}" class="col-xs-3 control-label">Name</label>
          <div class="col-xs-9">
            <input id="{{nameId}}" type="text" class="form-control input-sm" ng-model="param.name" />
          </div>
        </div>
        
        <div class="form-group" ng-init="typeId = idPrefix + '-type'">
          <label for="{{typeId}}" class="col-xs-3 control-label">Type</label>
          <div class="col-xs-9">
            <select id="{{typeId}}" class="form-control input-sm" ng-model="param.type">
              <option value="STRING">String</option>
              <option value="NUMBER">Number</option>
              <option value="DATE">Date</option>
            </select>
          </div>
        </div>
        
        <div class="form-group" ng-init="valueId = idPrefix + '-value'">
          <label for="{{valueId}}" class="col-xs-3 control-label">Value</label>
          <div class="col-xs-9">
            <input id="{{valueId}}" type="text" class="form-control input-sm" ng-model="param.value" />
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-xs-12">
            <button class="btn btn-danger btn-sm pull-right" ng-click="removeParameter($index)">
              <span class="glyphicon glyphicon-minus-sign"></span>
              Remove
            </button>
          </div>
        </div>
        
        <hr>
      </div>
      
      <button ng-show="main.sql" class="btn btn-primary pull-right" ng-click="addParameter()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Add
      </button>
    </div>
    
    <div class="ui-layout-south">
      <table sn-table ng-show="main.queryReulst">
      </table>
    </div>
    
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/jqueryui/jquery-ui.min.js"></script>
    <script src="js/ullayout/jquery.layout.min.js"></script>
    <script src="js/underscorejs/underscore-min.js"></script>
    <script src="js/angularjs/angular.min.js"></script>
    <script src="js/angularjs/angular-cookies.min.js"></script>
    <script src="js/angularjs/angularLocalStorage.js"></script>
    <script src="css/bootstrap/js/bootstrap.min.js"></script>
    <script src="css/bootstrap_table/bootstrap-table.min.js"></script>
    <script src="js/codemirror/codemirror.js"></script>
    <script src="js/codemirror/sql.js"></script>
    <script src="js/toastr/toastr.min.js"></script>
    <script src="js/blockui/jquery.blockUI.js"></script>
    <script src="js/app/app.js"></script>
  </body>
</html>
