@charset "UTF-8";

.CodeMirror {
  font-size: 15pt;
  height: 500px;
  border: 1px solid #ccc;
}

.cursor {
  cursor: pointer;
}

.error {
  color: red;
}

#memo {
  resize: none;
  height: 70px;
}

.break-all {
  word-break: break-all;
}
