@charset "UTF-8";

.CodeMirror {
  font-size: 15pt;
  height: 500px;
  border: 1px solid #ccc;
}

.cursor {
  cursor: pointer;
}

.error {
  color: red;
}

#memo {
  resize: none;
  height: 70px;
}

.break-all {
  word-break: break-all;
}

div.CodeMirror span.CodeMirror-matchingbracket {
  color: chocolate;
  font-weight: bold;
}

.cm-s-default .cm-keyword {
  font-weight: bold;
}
.cm-s-default .cm-atom {
  font-weight: bold;
}